.ant-btn-primary {
    background-color: #1D4ED8;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

.ant-btn {
   width: 200px;
    height: 40px;
    border-radius: 5px;
   
}